@import "../../main.scss";

.switcher {
  @extend %flex-row-container;
  position: fixed;
  top: 100px;
  width: 100%;
 // z-index: 1;
}

.swither__feed-btn {
  @extend %btn;
  min-width: 120px;
  width: calc(100vw / 3);
  min-height: $feeds-switcher-height;
  font-size: 14px;
  font-weight: 600;  

  &.active {
    background-color: $clr-green;
  }

  &.active:hover {
    background-color: $clr-dirty-green;
  }
}

@media (min-width: 520px) {
  .switcher {
    top: 50px;
  }
}

@media (min-width: 768px) {
  .switcher {
    top: 60px;
  }

  .swither__feed-btn {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .switcher {
    margin-top: 5px;
  }
}