@import "../../main.scss";

.header {
  position: fixed;
  min-width: $min-width;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $clr-gray;
    background-color: $base-bg-clr;
    z-index: 2;
  }
}

.header__container {
  margin: 0 auto;
  padding: 0 10px;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: $header-height-sm;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 4;
  text-decoration: none;
  font-size: $fz-logo;
  font-weight: 600;
  color: #000;
}

@media (msx-width: 520px) {
  .header {
    z-index: 3;
  }
}

@media (min-width: 768px) {
  .header__body {
    height: $header-height-md;
  }
}

@media (min-width: 1024px) {
  .header__body {
    height: $header-height-lg;
  }

  .header__logo {
    font-size: $fz-logo-lg;
  }
}