@import "../../main.scss";

.search__input {
  position: relative;
  z-index: 5;
  margin:  5px 0 5px 10px;
  padding: 0 24px;
  min-width: 270px;
  width: 100%;
  height: $search-height-sm;
  border-radius: 50px;
  border: 1px solid $clr-gray;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 14px;

  &::placeholder {
    font-size: 16px;
    line-height: normal;
    color: $clr-dark-gray;
  }

  &:hover {
    cursor: text;
  }
  &:focus-visible, &:active {
    border: 1px solid $clr-dark-gray;
  }
  &:disabled {

    background-color: $clr-light-gray;

    &::placeholder {
      color: $clr-disabled;
    }  
  }
}

@media (min-width: 720px) {

  .search__input::placeholder {
    font-size: 18px; 
  }
}

@media (min-width: 1024px) {

  .search__input {
    padding: 0 34px;
    height: 45px;
    font-size: $fz-strong;

    &::placeholder {
      font-size: 20px;
    }
  }  
}