@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600&display=swap');
//Reset styles values
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

//Variables
$fz-medium: 18px;
$fz-strong: 22px;
$fz-logo: 20px;
$fz-logo-lg: 24px;

$clr-light-gray: #EFE9E9;
$clr-gray: #E4DBDB;
$clr-border: #cecaca;
$clr-disabled: #817e7e;
$clr-dark-gray: #201E1E;
$clr-green: #A2D4A4;
$clr-dirty-green: #a1c2a2;
$clr-yellow: #E4E67E;
$base-bg-clr: #fff;
$clr-active-text: #06890B;


$min-width: 360px;
$filter-btn-width-sm: 90px;

$search-height-sm: 38px;
$search-height-md: 45px;

$gaps-width: 60px;
$logo-width: 100px;
$menu-width: 200px;
$base-height: 50px;

$header-height-sm: 50px;
$header-height-md: 60px;
$header-height-lg: 65px;


//Fonts

* {
  font-family: 'Overpass Mono', monospace;
}
