@import "../../main.scss";

.modal {
  &__comm-block {
    border-radius: 22px;
    border: 1px solid $clr-border;
    background: $base-bg-clr;
    //min-height: 506px;
    //height: 506px;
    //height: 496px;
    height: 486px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;

    &.auction {
      height: 438px;

      & .modal__comments-list {
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        justify-content: start;
        overflow-y: auto;
      }

      & .modal__comment {
        min-width: 420px;
    
        &--yours {
          align-self: center;
        }
      }
    }
  }

  &__input-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    margin: 10px 10px 8px 10px;
    height: 44px;
  }

  &__input {
    @extend %base-elem-styles;
    border-radius: 50px;
    padding: 10px 16px;
    flex-grow: 2;
  }

  &__comments-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }

  &__comment {
    border-radius: 32px;
    border: 1px solid $clr-border;
    background: #f5f4f4;
    margin: 12px 12px 0 12px;
    padding: 8px 16px;
    text-align: left;
    max-width: 380px;
    word-wrap: break-word;
    font-size: 16px;
    // overflow-wrap: break-word;
    // -webkit-hyphens: auto;
    //     -ms-hyphens: auto;
    //         hyphens: auto;

    &--yours {
      background-color: $clr-green;
      align-self: flex-end;
    }
  }

  // &__bid {
  //   border-radius: 32px;
  //   border: 1px solid $clr-border;
  //   background: #f5f4f4;
  //   margin: 12px 12px 0 12px;
  //   padding: 8px 16px;
  //   text-align: left;
  //   max-width: 480px;
  //   word-wrap: break-word;
  //   font-size: 16px;
  //   // overflow-wrap: break-word;
  //   // -webkit-hyphens: auto;
  //   //     -ms-hyphens: auto;
  //   //         hyphens: auto;

  //   &--yours {
  //     background-color: $clr-green;
  //   }
  // }

  &__comm-author {
    @extend %link;
    font-size: 14px;
    color: rgb(19, 77, 6);
    font-weight: 600;
  }

  &__start-bid-btn, &__min-incr-btn, &__auto-buy-btn {
    font-size: 12px;
    //margin-left: 6px;
  }
}