@import "../../main.scss";

.search {
  position: fixed;
  top: $header-height-sm;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.search__container {
  @extend %flex-row-container;
  gap: 10px;
  position: relative;
  width: 100%;
  padding: 0 10px;
  // align-content: stretch;
}

.search__block {
  flex-grow: 2;
  flex-shrink: 0;
}

.filter-btn {
  @extend %rounded-btn;

  flex-basis: $search-height-sm;
  flex-grow: 0;
  flex-shrink: 0;
  
  height: $search-height-sm;
  width: $search-height-sm;

  margin: 0 10px;
}

@media (min-width: 520px) {
  .search {
    top: 0px;
    left: calc(($gaps-width + $logo-width) / 1.5);
    width: calc(100vw - $gaps-width - $logo-width);
    margin: 0 auto;
    z-index: 2;
  }
}

@media (min-width: 768px) {
  .search {
    top: 0px;
    left: calc(($gaps-width + $logo-width) / 1.15);
    width: calc(100vw - $gaps-width - $logo-width - $menu-width);
    margin: 0 auto;
    margin-top: 4px;
  }
}

@media (min-width: 1024px) {

  .search {
    top: 0px;
    left: calc(($gaps-width + $logo-width) / 1.1);
    width: calc(100vw - $gaps-width - $logo-width - $menu-width - 40px);
    margin: 0 auto;
    margin-top: 4px;
  }

  .filter-btn {
    flex-basis: $search-height-md;
    height: $search-height-md;
    width: $search-height-md;
  }
}